
body {
	background-color:#C0C0C0;
}

.carousel {
	margin-top: 10px;
}

.carousel-item img {
	width: 65%;
	margin-left: 20%;
	margin-right: 20%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(60%);
}
.row {
		margin-top:10px;
}
.content-box  {
	margin: 5px;
	border-style: solid;
	border-color: #A9A9A9;
	border-width: 1px;
}
.content-box img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
.content-box p {
	text-align: center;
}

.container h1 {
	text-align: center;
}

.owntexthadow{
	text-shadow: 0px 0px 3px gray;
	
}
.ownbackground{
	width:400px;
	height:300px;
	background-image: url('kartta.png');
	background-size:cover;
	transition:width 2s;
}
.ownbackground:hover{
	width: 600px;
}

.mapslik{
	color:pink;

}
.mapslik:hover{
	color:white;
}

.owntexthadow{
	text-shadow: 0px 0px 3px gray;
	
}
table	{
	margin: 5px;
	padding: 5px;
	border: 1px solid #696969;
	background-color:#696969;
	width: 50%;
}
th	{
	padding:5px;
	border:1px solid black;
}

td	{
	padding:5px;
	border:1px solid black;
}
tr:nth-child(even) {
	background-color: #C0C0C0;
}
tr:nth-child(odd) {
	background-color: #A9A9A9;
}
